

.head {
    padding: 10px 20px 15px 20px;
    background-color: white;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.green{
    color: #4faa91;
}
.style-li {
    list-style-type: none;  
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 10px;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245,238,238);
    
}
#container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    


    

}
#travel {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
#foot {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 21, 60);
    width: 100%;
    height: 25%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mycart {
    font-size: large;
    text-align: center;
}
.cart-list {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    background-color: #f5eeee;
    margin: 5px 20px;
    padding: 10px 0px;
    border-radius: 5px;
}
#total {
    color: white;
    margin-left: 2%;
}
.btn {
    border: 1px solid black;
    background-color:rgb(90, 137, 20);
    color: white;
    cursor: pointer;
    margin-right: 2%;
}
.btn:hover {
    outline: 1px #ffffff solid;
    
  }
.btn-form {
    width: 10%;
    height: 30px;
    border-radius: 5px;
}